/ContractConvertor/.vs
/ContractConvertor/Debug
/ContractConvertor/ContractConvertor/Debug
/c/.vs
/c/Debug
/c/x64
/c/ContractConvertor/Debug
/c/ContractConvertor/x64
/Java/ContractConvertor/.idea
/Java/ContractConvertor/target
